<h1>Home#home</h1>
<h1 style="font-color: blue">MyApp</h1>
<p>Find me in app/views/home/home.html.erb</p>


<%= link_to "sign_in", new_user_session_path %>
<%= link_to "sign_up", new_user_registration_path %>
<%= link_to "sign_out", destroy_user_session_path, method: :delete %>
