<div class="post" id="post_<%= post.id %>" >
  <div class="post_image">
    画像は未実装
  </div>
  <div class="post_content">
    <li class="post_content_name"><h5><%= post.user.name %></h5></li>
    <li class="post_content_body"><h6><%= post.content %></h6></li>
    <li class="post_content_timestamp"><h7><%= post.created_at %></h7></li>
  </div>
</div>