/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

$image_height: 100px;
$image_width: 100px;
$padding_width: 10px;

.post {
  background-color: rgb(255,255,255);
  margin-top: 10px;
  border-radius: 10px;
  padding: $padding_width;
  
  .post_image {
    display: inline-block;
    height: $image_height;
    width: $image_width;
    vertical-align: top;
    position: static;
    
    // 画像未実装→暫定
    background-color: gray;
  }
  
  .post_content {
    display: inline-block;
    width: calc(100% - #{$image_width} - #{$padding_width});
    
    p {
      word-wrap: break-word;
    }
    
    .post_content_name {
      font-weight: bold;
    }
    
    .post_content_timestamp
    {
      font-size: 75%;
      text-align: right;
    }
  }
}